@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-position: center;
}

.content {
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 200px;
}

h1 {
    font-size: 140px;
    font-family: 'Odibee Sans', sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: lightgray;
}

li:not(:last-child)::after {
    content: " • ";
    padding: 5px;
    color: darkgray;
}

.icons {
    margin: 20px;
}

span {
    margin-right: 15px;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: lightslategray;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .content {
        margin-top: 100px;
    }

    h1 {
        font-size: 80px;
    }

    li {
        font-size: 16px;
        margin-right: 5px;
    }

    p {
        font-size: 14px;
    }
}